version: '3.8'

services:
  hogbot:
    build: .
    container_name: hogbot
    restart: unless-stopped
    env_file:
      - .env
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
